body{
    background-image: url(https://w0.peakpx.com/wallpaper/833/335/HD-wallpaper-dull-day-rain-raining.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
}


h1{
    text-decoration: underline black;
    text-align: center;
    color: blue;
    font-weight: bold;
    /* background-color: black; */
}

h4{
    margin-top: 35px;
    margin-bottom: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    color: green;
    /* background-color: black; */
    margin-left: 20px;

}

p{
    font-size: 20px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

p:hover{
    cursor: pointer;
    /* -color: blue; */
}
p>a{
    color: black;
    font-weight: bold;
    /* list-style: decimal; */
}
p>a:hover{
    color: blue;
}

ul{
    text-align: center;
}

ul>li{
    list-style-type: none;
}